* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $color-grey;
}
section {
  height: 100vh;
  padding: 5rem;
  &:first-of-type {
    padding: 0;
  }
}
